<%= simple_form_for([:admin, @councillor], html: { 'ng-submit' => 'submitForm($event, this)' }) do |f| %>

  <div class="form-inputs" ng-init="councillor = <%= @councillor.to_json(only: [:is_holder, :is_active]) %>">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>

      <div class="col-sm-6">
        <%= f.association :party, label_method: -> (party) { "#{party.abbreviation} - #{party.name}" },
              input_html: {chosen: '', 'data-placeholder' => t('activerecord.attributes.councillor.party_id')} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <%= f.input :username %>
      </div>

      <div class="col-sm-4">
        <%= f.input :password, required: @councillor.new_record?, input_html: (@councillor.persisted? ? {'fake-password' => true} : {}) %>
      </div>

      <div class="col-sm-4">
        <%= f.input :password_confirmation, required: @councillor.new_record?, input_html: (@councillor.persisted? ? {'fake-password' => true} : {}) %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.input :is_holder, input_html: { icheck: '', 'ng-model' => 'councillor.is_holder' } %>
        <%= f.input :is_active, input_html: { icheck: '', 'ng-model' => 'councillor.is_active' } %>
      </div>
    </div>

    <%= f.submit '', class: 'hide' %>
  </div>
<% end %>
