<% content_for :angular_controller, 'CouncillorsController' %>
<% content_for :sub_header do %>
  <div class="col-sm-6">
    <h2><%= t('models_and_attributes.models.councillor.other') %></h2>
    <ol class="breadcrumb">
      <li><%= link_to t('page.modules.home'), [:admin, :root] %></li>
      <li class="active">
        <strong><%= t('page.modules.councillors') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to [:new, :admin, :councillor], class: 'btn btn-w-s btn-primary m-t-md' do %>
      <i class="fa fa-plus"></i><br/>
      <%= t('buttons.new') %>
    <% end if can?(:create, Councillor) %>
  </div>
<% end %>

<%= flash_messages %>

<div class="row responsive-padding">
  <div class="col-xs-12" ng-init="init(<%= @config.to_json %>)">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          <%= t('view.keywords.list') %>&nbsp;&nbsp;&nbsp;
          <big><i class="fa fa-spinner fa-spin text-success" ng-show="loading"></i></big>
        </h5>
      </div>

      <div class="ibox-content">
        <form>
          <div class="m-b-lg">
            <div class="row m-b-xss">
              <div class="col-xs-12">
                <small>
                  <a class="pull-right" ng-click="NgTableService.clearFilters(filters)"><%= t('buttons.clear_filters') %></a>
                </small>
              </div>
            </div>

            <div class="form-inputs">
              <div class="row m-b-sm">
                <div class="col-xs-12">
                  <input type="text" id="filter" placeholder="<%= t([:name, :voter_registration], scope: [:activerecord, :attributes, :councillor]).join('/') %>"
                      class="form-control input-md" ng-model="filters.search_query" autocomplete="off" autofocus>
                </div>
              </div>

              <div class="row m-b-sm">
                <div class="col-sm-6 m-t-xs">
                  <select chosen data-placeholder-text-single="'<%= t('activerecord.attributes.councillor.party_id') %>'"
                          allow-single-deselect="true"
                          class="form-control"
                          ng-model="filters.party_id"
                          ng-options="party.id as (party.abbreviation + ' - ' + party.name) for party in parties">
                    <option></option>
                  </select>
                </div>
                <div class="col-sm-6 m-t-xs" ng-init="genders = <%= t('enums.items.gender').to_json %>">
                  <select chosen data-placeholder-text-single="'<%= t('activerecord.attributes.councillor.gender') %>'"
                          allow-single-deselect="true"
                          class="form-control"
                          ng-model="filters.gender"
                          ng-options="key as label for (key, label) in genders">
                    <option></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row m-t-sm">
              <div class="col-sm-offset-8 col-sm-4">
                <button class="btn btn-block btn-primary" ng-click="NgTableService.search(filters)" ng-disabled="tableParams.loadingTable">
                  <i class="fa fa-search"></i> <%= t('buttons.search') %>
                </button>
              </div>
            </div>
          </div>
        </form>

        <div class="m-t-md">
          <small class="pull-right text-muted" ng-bind-html="'info.records_found_html' | t:{count: tableParams.total() || 0} | trust"></small><br>
          <hr class="m-t-none">
        </div>

        <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'tableParams.total() > 0'} %>
        <div class="table-responsive" ng-show="tableParams.total() > 0">
          <div loading-container="tableParams.loadingTable">
            <table ng-table="tableParams" template-pagination="/angular-templates/ng-table/paginate" class="table table-striped table-hover">
              <tr class="vertical-middle" data-href="{{councillor.url}}" ng-repeat="councillor in $data track by councillor.id">

                <td class="td-image">
                  <img ng-src="{{councillor.avatar}}">
                </td>
                <td data-title="'<%= t('activerecord.attributes.councillor.name') %>'" data-sortable="'councillors.name'">
                  {{councillor.name}}
                </td>
                <td data-title="'<%= t('activerecord.attributes.councillor.voter_registration') %>'" data-sortable="'councillors.voter_registration'">
                  {{councillor.voter_registration}}
                </td>
                <td data-title="'<%= t('activerecord.attributes.councillor.gender') %>'" data-sortable="'councillors.gender'">
                  {{genders[councillor.gender]}}
                </td>
                <td data-title="'<%= t('activerecord.attributes.councillor.party_id') %>'" data-sortable="'parties.abbreviation'">
                  {{councillor.party.abbreviation}}
                </td>

              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
