<div class="panel-body">
  <div class="row m-b-md">
    <div class="col-xs-12 text-right">
      <%= link_to '', class: 'btn btn-w-s btn-primary', 'ng-click' => 'openCountdownRecordModal()', 'ng-disabled' => 'loading' do %>
      <i class="fa fa-plus"></i><br/>
      <%= t('buttons.new') %>
      <% end %>
    </div>
  </div>

  <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'loading || plenarySession.countdowns.length > 0'} %>

  <div ng-show="loading || plenarySession.countdowns.length > 0">
    <div class="m-t-md">
      <small class="pull-right text-muted" ng-bind-html="'info.records_added_html' | t:{count: plenarySession.countdowns.length || 0} | trust"></small><br>
      <hr class="m-t-none">
    </div>

    <div class="table-responsive">
      <div loading-container="loading">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= t('activerecord.attributes.countdown.description') %></th>
              <th><%= t('activerecord.attributes.countdown.duration') %></th>
              <th><%= t('activerecord.attributes.countdown.created_at') %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="countdownRecord in (plenarySession.countdowns | orderBy:'-created_at') track by countdownRecord.id" ng-class="{'info': countdownRecord.countdownPromise}">
              <td>
                <strong ng-show="countdownRecord.countdownPromise && countdownRecord.intervalCountdown">
                  ({{countdownRecord.intervalCountdown}})
                </strong>
                {{countdownRecord.description | truncate:60}}
                <span class="text-muted" ng-hide="countdownRecord.description"><%= t('info.no_description') %></span>
              </td>
              <td>{{ 'info.seconds' | t:{count: countdownRecord.duration || 0} }}</td>
              <td>{{countdownRecord.created_at | date:'medium'}}</td>
              <td class="text-right">
                <button class="btn btn-xs btn-warning"
                ng-show="!countdownRecord.stopped && countdownRecord.countdownPromise"
                ng-disabled="countdownRecord.stopping"
                ng-click="stopCountdownRecord(countdownRecord)"><%= t('buttons.stop') %></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'admin/plenary_sessions/session_managements/partials/modals_countdown' %>
