<div class="panel-body">
  <div class="row m-b-md">
    <div class="col-xs-12 text-right">
      <%= link_to '', class: 'btn btn-w-s',
          'ng-class' => "{'btn-warning': !plenarySession.is_subscriptions_locked, 'btn-success': plenarySession.is_subscriptions_locked}",
          'ng-click' => 'toggleLockSubscriptions()',
          'ng-disabled' => 'loading' do %>

      <i class="fa fa-{{plenarySession.is_subscriptions_locked ? 'unlock' : 'lock'}}"></i><br/>
      {{plenarySession.is_subscriptions_locked ? '<%= t('buttons.unlock_subscriptions') %>' : '<%= t('buttons.lock_subscriptions') %>'}}
      <% end %>
    </div>
  </div>

  <%= custom_flash_messages warning: {show: true, fixed: true, icon: :warning, message: t('warnings.subscriptions_locked')}, html: {'ng-show' => 'plenarySession.is_subscriptions_locked'} %>
  <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'loading || plenarySession.subscriptions.length > 0'} %>

  <div ng-show="loading || plenarySession.subscriptions.length > 0">
    <div class="m-t-md">
      <small class="pull-right text-muted" ng-bind-html="'info.records_added_html' | t:{count: plenarySession.subscriptions.length || 0} | trust"></small><br>
      <hr class="m-t-none">
    </div>

    <div class="table-responsive">
      <div loading-container="loading">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= t('activerecord.attributes.subscription.kind') %></th>
              <th><%= t('activerecord.attributes.subscription.councillor_id') %></th>
              <th><%= t('activerecord.attributes.subscription.created_at') %></th>
              <th></th>
            </tr>
          </thead>

          <tbody ng-if="plenarySession.subscriptions">
            <tr ng-repeat="subscription in (plenarySession.subscriptions | orderBy:['kind_index', 'created_at']) track by subscription.id" ng-class="{'success': subscription.is_done}">
              <td>{{$index + 1}}. {{subscriptionKinds[subscription.kind]}}</td>
              <td>{{subscription.councillor.name}} ({{subscription.councillor.party.abbreviation}})</td>
              <td>{{subscription.created_at | date:'medium'}}</td>
              <td class="text-right">
                <button class="btn btn-xs btn-primary"
                    ng-click="openCountdownRecordModal({
                      description: subscriptionKinds[subscription.kind] + ' - ' + subscription.councillor.name + ' (' + subscription.councillor.party.abbreviation + ')'
                    })">
                  <%= t('buttons.new_countdown') %>
                </button>

                <button class="btn btn-xs btn-{{subscription.is_done ? 'white' : 'success'}}" ng-click="toggleDoneSubscription(subscription)" ng-disabled="loading">
                  {{subscription.is_done ? '<%= t('buttons.undone') %>' : '<%= t('buttons.done') %>'}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
