<nav class="navbar-default navbar-static-side">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <%= link_to admin_root_path do  %>
            <%= image_tag 'votweb-full.svg', class: 'img-responsive' %>
          <% end %>
          <a href data-toggle="dropdown" class="dropdown-toggle">
            <span class="clear"> <span class="block m-t-sm"> <strong class="font-bold"><%= current_administrator.name %></strong></span>
            <span class="text-muted text-xs block"><%= current_administrator.email %> <b class="caret"></b></span> </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <%= link_to edit_registration_path(current_administrator) do %>
                <i class="fa fa-edit"></i> <%= t('profile.edit') %>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_session_path(:administrator), method: :delete,
                  data: {confirm: t('confirm.signout')} do %>
                <i class="fa fa-sign-out"></i> <%= t('profile.signout') %>
              <% end %>
            </li>
          </ul>
        </div>
      </li>

      <%= content_tag(:li, class: class_for_item_menu('administrators')) do %>
        <%= link_to admin_administrators_path do  %>
          <i class="fa fa-user"></i>
          <span class="nav-label"><%= t('models_and_attributes.models.administrator.other') %></span>
        <% end %>
      <% end if can?(:read, Administrator) %>

      <%= content_tag(:li, class: class_for_item_menu('roles')) do %>
        <%= link_to admin_roles_path do  %>
          <i class="fa fa-check-square-o"></i>
          <span class="nav-label"><%= t('models_and_attributes.models.role.other') %></span>
        <% end %>
      <% end if can?(:read, Role) %>

      <%= content_tag(:li, class: class_for_item_menu('projects')) do %>
        <%= link_to admin_projects_path do  %>
          <i class="fa fa-files-o"></i>
          <span class="nav-label"><%= t('models_and_attributes.models.project.other') %></span>
        <% end %>
      <% end if can?(:read, Project) %>

      <%= content_tag(:li, class: class_for_item_menu('plenary_sessions')) do %>
        <%= link_to admin_plenary_sessions_path do  %>
          <i class="fa fa-bullhorn"></i>
          <span class="nav-label"><%= t('models_and_attributes.models.plenary_session.other') %></span>
        <% end %>
      <% end if can?(:read, PlenarySession) %>

      <%= content_tag(:li, class: class_for_item_menu('councillors')) do %>
        <%= link_to admin_councillors_path do  %>
          <i class="fa fa-group"></i>
          <span class="nav-label"><%= t('models_and_attributes.models.councillor.other') %></span>
        <% end %>
      <% end if can?(:read, Councillor) %>

      <%= content_tag(:li, class: class_for_item_menu('parties')) do %>
        <%= link_to admin_parties_path do  %>
          <i class="fa fa-flag"></i>
          <span class="nav-label"><%= t('models_and_attributes.models.party.other') %></span>
        <% end %>
      <% end if can?(:read, Party) %>
    </ul>
  </div>
</nav>
