<% content_for :angular_controller, 'SessionManagementController' %>
<% content_for :highlight_controller, 'plenary_sessions' %>

<% content_for :sub_header do %>
  <div class="col-sm-6">
    <h2><%= @plenary_session.title %></h2>
    <ol class="breadcrumb">
      <li><%= link_to t('page.modules.home'), [:admin, :root] %></li>
      <li><%= link_to t('page.modules.plenary_sessions'), [:admin, :plenary_sessions] %></li>
      <li class="active">
        <strong><%= t('actions.manage') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to [:admin, @plenary_session], class: 'btn btn-w-s btn-white m-t-md m-l-sm' do %>
      <i class="fa fa-reply"></i><br/>
      <%= t('buttons.back') %>
    <% end %>
  </div>
<% end %>

<%= flash_messages %>

<div class="text-right m-b-sm">
  <a href class="btn btn-white" data-toggle="modal" data-target="#plenary-session-details"><i class="fa fa-info"></i></a>
</div>

<div class="row responsive-padding" ng-init="init(<%= @plenary_session.id %>);
                                              pollProcesses = <%= t('enums.specific_items.poll.process').to_json %>;
                                              subscriptionKinds = <%= t('enums.specific_items.subscription.kind').to_json %>;">

  <div class="col-xs-12">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#session-items-list"><%= t('miscellaneous.session_item.list') %></a></li>
        <li><a data-toggle="tab" href="#members"><%= t('activerecord.attributes.plenary_session.members') %></a></li>
        <li><a data-toggle="tab" href="#polls"><%= t('activerecord.attributes.plenary_session.polls') %></a></li>
        <li><a data-toggle="tab" href="#queues"><%= t('activerecord.attributes.plenary_session.queues') %></a></li>
        <li><a data-toggle="tab" href="#subscriptions"><%= t('activerecord.attributes.plenary_session.subscriptions') %></a></li>
        <li><a data-toggle="tab" href="#countdowns"><%= t('activerecord.attributes.plenary_session.countdowns') %></a></li>
      </ul>
      <div class="tab-content">
        <div id="session-items-list" class="tab-pane active">
          <%= render partial: 'admin/plenary_sessions/session_managements/partials/tab_session_items' %>
        </div>

        <div id="members" class="tab-pane">
          <%= render partial: 'admin/plenary_sessions/session_managements/partials/tab_members' %>
        </div>

        <div id="polls" class="tab-pane">
          <%= render partial: 'admin/plenary_sessions/session_managements/partials/tab_polls' %>
        </div>

        <div id="queues" class="tab-pane">
          <%= render partial: 'admin/plenary_sessions/session_managements/partials/tab_queues' %>
        </div>

        <div id="subscriptions" class="tab-pane">
          <%= render partial: 'admin/plenary_sessions/session_managements/partials/tab_subscriptions' %>
        </div>

        <div id="countdowns" class="tab-pane">
          <%= render partial: 'admin/plenary_sessions/session_managements/partials/tab_countdowns' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="plenary-session-details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <i class="fa fa-bullhorn modal-icon"></i>
        <h4 class="modal-title"><%= t('activerecord.models.plenary_session.one') %></h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'admin/plenary_sessions/details', locals: { plenary_session: @plenary_session } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
