<% content_for :angular_controller, 'SessionManagementController' %>
<% content_for :highlight_controller, 'plenary_sessions' %>

<% content_for :sub_header do %>
  <div class="col-sm-6">
    <h2><%= @plenary_session.title %></h2>
    <ol class="breadcrumb">
      <li><%= link_to t('page.modules.home'), [:admin, :root] %></li>
      <li><%= link_to t('page.modules.plenary_sessions'), [:admin, :plenary_sessions] %></li>
      <li class="active">
        <strong><%= t('actions.manage') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to [:admin, @plenary_session], class: 'btn btn-w-s btn-white m-t-md m-l-sm' do %>
      <i class="fa fa-reply"></i><br/>
      <%= t('buttons.back') %>
    <% end %>
  </div>
<% end %>

<%= flash_messages %>

<div class="text-right m-b-sm">
  <a href class="btn btn-white" data-toggle="modal" data-target="#plenary-session-details"><i class="fa fa-info"></i></a>
</div>

<div class="row responsive-padding" ng-init="init(<%= @plenary_session.id %>);
                                              pollProcesses = <%= t('enums.specific_items.poll.process').to_json %>;">

  <div class="col-xs-12">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#session-items-list"><%= t('miscellaneous.session_item.list') %></a></li>
        <li><a data-toggle="tab" href="#polls"><%= t('activerecord.attributes.plenary_session.polls') %></a></li>
        <li><a data-toggle="tab" href="#queues"><%= t('activerecord.attributes.plenary_session.queues') %></a></li>
        <li><a data-toggle="tab" href="#members"><%= t('activerecord.attributes.plenary_session.members') %></a></li>
      </ul>
      <div class="tab-content">
        <div id="session-items-list" class="tab-pane active">
          <div class="panel-body">
            <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'loading || plenarySession.items.length > 0'} %>

            <div ng-show="loading || plenarySession.items.length > 0">
              <div class="m-t-md">
                <small class="pull-right text-muted" ng-bind-html="'info.records_added_html' | t:{count: plenarySession.items.length || 0} | trust"></small><br>
                <hr class="m-t-none">
              </div>

              <div class="table-responsive">
                <div loading-container="loading">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><%= t('activerecord.attributes.session_item.title') %></th>
                        <th><%= t('activerecord.attributes.session_item.author') %></th>
                        <th><%= t('activerecord.attributes.session_item.acceptance') %></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="item in plenarySession.items track by item.id" ng-class="{'success': item.acceptance === 'approved', 'danger': item.acceptance === 'rejected'}">
                        <td>{{$index + 1}}. {{item.title}}</td>
                        <td>{{item.author.name}}</td>
                        <td>
                          <i class="fa" ng-class="{
                              'fa-check text-navy': item.acceptance === 'approved',
                              'fa-times text-warning': item.acceptance === 'rejected',
                              'fa-ellipsis-h text-muted': item.acceptance === 'not_voted'
                            }"></i>
                        </td>
                        <td class="text-right">
                          <button class="btn btn-xs btn-primary" ng-click="openPollModal(item.title)" ng-show="item.acceptance === 'not_voted'">
                            <%= t('buttons.new_poll') %>
                          </button>

                          <div class="btn-group">
                            <button class="btn btn-xs btn-white" data-toggle="dropdown"><%= t('buttons.mark_as') %> <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                              <% SessionItem.acceptances.keys.each do |acceptance| %>
                                <li>
                                  <a ng-click="markSessionItemAs(item, '<%= acceptance %>')">
                                    <%= t(acceptance, scope: [:enums, :specific_items, :session_item, :acceptance]) %>
                                  </a>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="polls" class="tab-pane">
          <div class="panel-body">
            <div class="row m-b-md">
              <div class="col-xs-12 text-right">
                <%= link_to '', class: 'btn btn-w-s btn-primary', 'ng-click' => 'openPollModal()', 'ng-disabled' => 'loading || countdownRunning' do %>
                  <i class="fa fa-plus"></i><br/>
                  <%= t('buttons.new') %>
                <% end %>
              </div>
            </div>

            <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'loading || plenarySession.polls.length > 0'} %>

            <div ng-show="loading || plenarySession.polls.length > 0">
              <div class="m-t-md">
                <small class="pull-right text-muted" ng-bind-html="'info.records_added_html' | t:{count: plenarySession.polls.length || 0} | trust"></small><br>
                <hr class="m-t-none">
              </div>

              <div class="table-responsive">
                <div loading-container="loading">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><%= t('activerecord.attributes.poll.description') %></th>
                        <th><%= t('activerecord.attributes.poll.process') %></th>
                        <th><%= t('activerecord.attributes.poll.duration') %></th>
                        <th><%= t('activerecord.attributes.poll.created_at') %></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="poll in (plenarySession.polls | orderBy:'-created_at') track by poll.id" ng-class="{'info': poll.countdownPromise}">
                        <td>
                          <strong ng-show="poll.countdownPromise">({{poll.countdown}})</strong>
                          {{poll.description | truncate:60}}
                          <span class="text-muted" ng-hide="poll.description"><%= t('info.no_description') %></span>
                        </td>
                        <td>{{pollProcesses[poll.process]}}</td>
                        <td>{{ 'info.seconds' | t:{count: poll.duration || 0} }}</td>
                        <td>{{poll.created_at | date:'medium'}}</td>
                        <td class="text-right">
                          <button class="btn btn-xs btn-warning"
                              ng-show="!poll.stopped && poll.countdownPromise"
                              ng-disabled="poll.stopping"
                              ng-click="stopPoll(poll)"><%= t('buttons.stop') %></button>

                          <button class="btn btn-xs btn-white" ng-click="openPollDetailsModal(poll)"><%= t('buttons.details') %></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="queues" class="tab-pane">
          <div class="panel-body">
            <div class="row m-b-md">
              <div class="col-xs-12 text-right">
                <%= link_to '', class: 'btn btn-w-s btn-primary', 'ng-click' => 'openQueueModal()', 'ng-disabled' => 'loading || countdownRunning' do %>
                  <i class="fa fa-plus"></i><br/>
                  <%= t('buttons.new') %>
                <% end %>
              </div>
            </div>

            <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'loading || plenarySession.queues.length > 0'} %>

            <div ng-show="loading || plenarySession.queues.length > 0">
              <div class="m-t-md">
                <small class="pull-right text-muted" ng-bind-html="'info.records_added_html' | t:{count: plenarySession.queues.length || 0} | trust"></small><br>
                <hr class="m-t-none">
              </div>

              <div class="table-responsive">
                <div loading-container="loading">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><%= t('activerecord.attributes.queue.description') %></th>
                        <th><%= t('activerecord.attributes.queue.duration') %></th>
                        <th><%= t('activerecord.attributes.queue.created_at') %></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="queue in (plenarySession.queues | orderBy:'-created_at') track by queue.id" ng-class="{'info': queue.countdownPromise}">
                        <td>
                          <strong ng-show="queue.countdownPromise">({{queue.countdown}})</strong>
                          {{queue.description | truncate:60}}
                          <span class="text-muted" ng-hide="queue.description"><%= t('info.no_description') %></span>
                        </td>
                        <td>{{ 'info.seconds' | t:{count: queue.duration || 0} }}</td>
                        <td>{{queue.created_at | date:'medium'}}</td>
                        <td class="text-right">
                          <button class="btn btn-xs btn-warning"
                              ng-show="!queue.stopped && queue.countdownPromise"
                              ng-disabled="queue.stopping"
                              ng-click="stopQueue(queue)"><%= t('buttons.stop') %></button>

                          <button class="btn btn-xs btn-white" ng-click="openQueueDetailsModal(queue)"><%= t('buttons.details') %></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="members" class="tab-pane">
          <div class="panel-body">
            <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'loading || plenarySession.members.length > 0'} %>

            <div ng-show="loading || plenarySession.members.length > 0">
              <div class="m-t-md">
                <small class="pull-right text-muted" ng-bind-html="'info.records_added_html' | t:{count: plenarySession.members.length || 0} | trust"></small><br>
                <hr class="m-t-none">
              </div>

              <div class="table-responsive">
                <div loading-container="loading">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><%= t('activerecord.attributes.councillor.name') %></th>
                        <th><%= t('activerecord.attributes.councillor.party_id') %></th>
                        <th><%= t('activerecord.attributes.session_member.is_president') %></th>
                        <th><%= t('activerecord.attributes.session_member.is_present') %></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="member in plenarySession.members track by member.id" ng-class="{'warning': member.is_present === false}">
                        <td>{{$index + 1}}. {{member.councillor.name}}</td>
                        <td>{{member.councillor.party.abbreviation}}</td>
                        <td><i class="fa {{member.is_president ? 'fa-check text-navy' : 'fa-times text-muted'}}"></i></td>
                        <td>
                          <i class="fa" ng-class="{
                            'fa-check text-navy': member.is_present,
                            'fa-times text-warning': member.is_present === false,
                            'fa-ellipsis-h text-muted': member.is_present === null
                          }"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="plenary-session-details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <i class="fa fa-bullhorn modal-icon"></i>
        <h4 class="modal-title"><%= t('activerecord.models.plenary_session.one') %></h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'admin/plenary_sessions/details', locals: { plenary_session: @plenary_session } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="add-poll" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <form ng-submit="createPoll(newPoll)">
        <div class="modal-header">
          <i class="fa fa-ticket modal-icon"></i>
          <h4 class="modal-title"><%= t('miscellaneous.poll.add') %></h4>
        </div>
        <div class="modal-body">
          <div class="form-inputs">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="poll-process" class="control-label"><%= t('simple_form.required.html') %> <%= t('activerecord.attributes.poll.process') %></label>
                  <select id="poll-process" class="form-control" ng-model="newPoll.process" ng-options="key as label for (key, label) in pollProcesses"></select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="poll-duration" class="control-label"><%= t('simple_form.required.html') %> <%= t('activerecord.attributes.poll.duration') %></label>
                  <input type="number" id="poll-duration" min="1" class="form-control" ng-model="newPoll.duration">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="poll-description" class="control-label"><%= t('activerecord.attributes.poll.description') %></label>
                  <input type="text" id="poll-description" class="form-control" ng-model="newPoll.description">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
          <button type="submit" class="btn btn-primary" ng-disabled="loading || countdownRunning"><%= t('buttons.add') %></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal inmodal" id="add-queue" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <form ng-submit="createQueue(newQueue)">
        <div class="modal-header">
          <i class="fa fa-group modal-icon"></i>
          <h4 class="modal-title"><%= t('miscellaneous.queue.add') %></h4>
        </div>
        <div class="modal-body">
          <div class="form-inputs">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="queue-description" class="control-label"><%= t('activerecord.attributes.queue.description') %></label>
                  <input type="text" id="queue-description" class="form-control" ng-model="newQueue.description">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="queue-duration" class="control-label"><%= t('simple_form.required.html') %> <%= t('activerecord.attributes.queue.duration') %></label>
                  <input type="number" id="queue-duration" min="1" class="form-control" ng-model="newQueue.duration">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
          <button type="submit" class="btn btn-primary" ng-disabled="loading || countdownRunning"><%= t('buttons.add') %></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal inmodal" id="poll-details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <i class="fa fa-ticket modal-icon"></i>
        <h4 class="modal-title"><%= t('activerecord.models.poll.one') %></h4>
        <span class="font-bold">
          {{pollDetails.description}}
          <span class="text-muted" ng-hide="pollDetails.description"><%= t('info.no_description') %></span>
        </span>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td class="text-right"><strong>Participantes:</strong></td>
              <td>&nbsp;&nbsp;{{plenarySession.members.length}}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Votos:</strong></td>
              <td>&nbsp;&nbsp;{{pollDetails.votes.length}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th class="text-navy"><%= t('enums.specific_items.vote.kind.approvation') %></th>
              <th class="text-danger"><%= t('enums.specific_items.vote.kind.rejection') %></th>
              <th class="text-muted"><%= t('enums.specific_items.vote.kind.abstention') %></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ pollDetails.approvationVotes = ((pollDetails.votes || []) | filter:{kind: 'approvation'}); 'info.votes' | t:{count: pollDetails.approvationVotes.length} }}</td>
              <td>{{ pollDetails.rejectionVotes = ((pollDetails.votes || []) | filter:{kind: 'rejection'}); 'info.votes' | t:{count: pollDetails.rejectionVotes.length} }}</td>
              <td>{{ pollDetails.abstentionVotes = ((pollDetails.votes || []) | filter:{kind: 'abstention'}); 'info.votes' | t:{count: pollDetails.abstentionVotes.length} }}</td>
            </tr>
            <hr ng-hide="pollDetails.process === 'secret'">
            <tr ng-hide="pollDetails.process === 'secret'">
              <td class="text-navy">
                <div class="row-padding" ng-repeat="vote in pollDetails.approvationVotes track by vote.councillor_id">{{getCouncillor(vote.councillor_id).name}}</div>
              </td>
              <td class="text-danger">
                <div class="row-padding" ng-repeat="vote in pollDetails.rejectionVotes track by vote.councillor_id">{{getCouncillor(vote.councillor_id).name}}</div>
              </td>
              <td class="text-muted">
                <div class="row-padding" ng-repeat="vote in pollDetails.abstentionVotes track by vote.councillor_id">{{getCouncillor(vote.councillor_id).name}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
      </div>
    </div>
  </div>
</div>


<div class="modal inmodal" id="queue-details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <i class="fa fa-group modal-icon"></i>
        <h4 class="modal-title"><%= t('activerecord.models.queue.one') %></h4>
        <span class="font-bold">
          {{queueDetails.description}}
          <span class="text-muted" ng-hide="queueDetails.description"><%= t('info.no_description') %></span>
        </span>
      </div>
      <div class="modal-body">
        <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'queueDetails.councillors_ids.length > 0'} %>

        <ol>
          <li ng-repeat="councillorId in queueDetails.councillors_ids">
            {{queueDetails.councillors[councillorId] = getCouncillor(councillorId);''}}
            ({{queueDetails.councillors[councillorId].party.abbreviation}}) <strong>{{queueDetails.councillors[councillorId].name}}</strong>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
