<% content_for :angular_controller, 'SessionProgressController' %>

<!-- comunicar com back-end -->
<!-- contagem regressiva maior que 999 fica 999 -->
<!-- lista de vereadores com o número da posição na frente -->
<!-- lista de vereadores de voto coloridos de acordo com o voto -->
<!-- lista de vereadores iniciando no centro da tela -->

<section class="session-progress" ng-cloak
    ng-class="{'page-wrapper': !currentSession}"
    ng-init="kinds = <%= t('enums.specific_items.plenary_session.kind').to_json %>;
            initSessions(<%= @plenary_sessions.to_json(only: [:id, :title, :kind]) %>);">

  <div class="plenary-session-choose-box" ng-hide="currentSession">
    <div class="session-info">
      <div class="no-sessions" ng-hide="sessions.length > 0">
        <h4>Não existe nenhuma sessão que inicie hoje.</h4>
      </div>

      <div class="session-pick" ng-show="sessions.length > 0 && !currentSession">
        <h4>Escolha uma das sessões abaixo para se conectar.</h4>
        <br>

        <ul class="list-unstyled">
          <li ng-repeat="session in sessions track by session.id">
            <h4>
              <a href ng-click="setCurrentSession(session)">
                [<%= t('activerecord.models.plenary_session.one') %> {{kinds[session.kind]}}] {{session.title}}
              </a>
            </h4>
          </li>
        </ul>
      </div>

      <div class="current-session" ng-show="currentSession">
        <h4>
          [<%= t('activerecord.models.plenary_session.one') %> {{kinds[currentSession.kind]}}]
          {{currentSession.title}} <a href ng-click="resetCurrentSession()">(Trocar)</a>
        </h4>
      </div>
    </div>
  </div>

  <div class="poll" ng-show="currentSession">
    <div class="header">
      <h1 class="text-center m-t-none p-t-sm">
        [<%= t('activerecord.models.plenary_session.one') %> {{kinds[currentSession.kind]}}] {{currentSession.title}}
      </h1>
      <h2 class="text-center">Descrição da votação</h2>
    </div>

    <div class="results">
      <div class="row">
        <div class="col-xs-5">
          <table class="table">
            <tr class="text-center font-bold"><td colspan="3">VOTOS</td></tr>
            <tr class="text-center font-bold">
              <td class="text-navy">SIM</td>
              <td class="text-danger">NÃO</td>
              <td class="text-muted">ABSTENÇÃO</td>
            </tr>
            <tr class="text-center font-lg">
              <td class="text-navy">11</td>
              <td class="text-danger">9</td>
              <td class="text-muted">1</td>
            </tr>
          </table>
        </div>

        <div class="col-xs-2 text-center font-lg">999</div>

        <div class="col-xs-5">
          <table class="table">
            <tr class="text-center font-bold"><td colspan="2">PERCENTUAL</td></tr>
            <tr class="text-center font-bold"><td><div id="pie"></div></td></tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <div class="row">
            <div class="col-xs-6">
              <strong>Participantes:</strong> 21
            </div>
            <div class="col-xs-6">
              <strong>Total de votos:</strong> 21
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <span><strong>Tipo de Votação:</strong> Nominal</span>
        </div>
      </div>
    </div>
  </div>

  <div class="list" ng-show="currentSession">
    <div class="row">
      <div class="col-xs-12">
        <strong>LISTA DE VEREADORES</strong>
        <table class="table">
          <tr>
            <td>
              <table width="100%">
                <tr>
                  <td>VEREADOR 1 - PT</td>
                  <td>SIM</td>
                </tr>
                <tr>
                  <td>VEREADOR 2 - PSol</td>
                  <td>NÃO</td>
                </tr>
                <tr>
                  <td>VEREADOR 3 - PCdoB</td>
                  <td>SIM</td>
                </tr>
                <tr>
                  <td>VEREADOR 4 - PT</td>
                  <td>SIM</td>
                </tr>
                <tr>
                  <td>VEREADOR 5 - PV</td>
                  <td>SIM</td>
                </tr>
                <tr>
                  <td>VEREADOR 6 - PSol</td>
                  <td>ABSTENÇÃO</td>
                </tr>
                <tr>
                  <td>VEREADOR 7 - PDT</td>
                  <td>SIM</td>
                </tr>
                <tr>
                  <td>VEREADOR 8 - PT</td>
                  <td>SIM</td>
                </tr>
                </tr>
                <tr>
                  <td>VEREADOR 9 - PT</td>
                  <td>SIM</td>
                </tr>
                </tr>
                <tr>
                  <td>VEREADOR 10 - PT</td>
                  <td>SIM</td>
                </tr>
                </tr>
              </table>
            </td>
            <td>
              <table width="100%">
                <tr>
                  <td>VEREADOR 11 - PSol</td>
                  <td>ABSTENÇÃO</td>
                </tr>
                <tr>
                  <td>VEREADOR 12 - PSol</td>
                  <td>ABSTENÇÃO</td>
                </tr>
                <tr>
                  <td>VEREADOR 13 - PT</td>
                  <td>SIM</td>
                </tr>
                <tr>
                  <td>VEREADOR 14 - PT</td>
                  <td>NÃO</td>
                </tr>
              </table>
            </td>
            <td>
              <table width="100%">
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
