<% content_for :angular_controller, 'SessionProgressController' %>

<section class="session-progress" ng-cloak
    ng-class="{'page-wrapper': !currentSession}"
    ng-init="kinds = <%= t('enums.specific_items.plenary_session.kind').to_json %>;
            pollProcesses = <%= t('enums.specific_items.poll.process').to_json %>;
            initSessions(<%= @plenary_sessions.to_json(only: [:id, :title, :kind]) %>);">

  <div class="plenary-session-choose-box" ng-hide="currentSession">
    <div class="session-info">
      <div class="no-sessions" ng-hide="sessions.length > 0">
        <h4>Não existe nenhuma sessão que inicie hoje.</h4>
      </div>

      <div class="session-pick" ng-show="sessions.length > 0">
        <h4>Escolha uma das sessões abaixo para se conectar.</h4>
        <br>

        <ul class="list-unstyled">
          <li ng-repeat="session in sessions track by session.id">
            <h4>
              <a href ng-click="setCurrentSession(session)">
                [<%= t('activerecord.models.plenary_session.one') %> {{kinds[session.kind]}}] {{session.title}}
              </a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header" ng-if="currentSession">
    <h1 class="text-center m-t-none p-t-sm">
      [<%= t('activerecord.models.plenary_session.one') %> {{kinds[currentSession.kind]}}] {{currentSession.title}}
    </h1>
    <h2 class="text-center" ng-show="currentEvent && (currentObject().description)">
      {{currentObject().description}}
    </h2>
  </div>

  <div ng-show="currentSession && currentEvent">
    <div class="results">
      <div class="row">
        <div class="col-xs-5">
          <div ng-show="currentEvent === 'poll'">
            <table class="table votes-count">
              <tr class="text-center font-bold"><td colspan="3">VOTOS</td></tr>
              <tr class="text-center font-bold">
                <td class="{{voteClasses['approvation']}}">{{voteTypes.approvation}}</td>
                <td class="{{voteClasses['rejection']}}">{{voteTypes.rejection}}</td>
                <td class="{{voteClasses['abstention']}}">{{voteTypes.abstention}}</td>
              </tr>
              <tr class="text-center font-lg">
                <td class="{{voteClasses['approvation']}}">{{ currentPoll.approvationCount || 0 }}</td>
                <td class="{{voteClasses['rejection']}}">{{ currentPoll.rejectionCount || 0 }}</td>
                <td class="{{voteClasses['abstention']}}">{{ currentPoll.abstentionCount || 0 }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-xs-2 text-center font-lg">
          <div class="row">{{formatCountdown(currentObject().countdown || 0)}}</div>
        </div>

        <div class="col-xs-5">
          <div ng-show="currentEvent === 'poll'">
            <table class="table">
              <tr class="text-center font-bold"><td colspan="2">PERCENTUAL</td></tr>
              <tr class="text-center font-bold"><td><div id="pie"></div></td></tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row" ng-show="currentEvent === 'poll'">
        <div class="col-xs-5">
          <div class="row">
            <div class="col-xs-6">
              <strong>Participantes:</strong> {{currentSession.members.length}}
            </div>
            <div class="col-xs-6">
              <strong>Total de votos:</strong> {{currentPoll.votes.length}}
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <span><strong>Tipo de Votação:</strong> {{pollProcesses[currentPoll.process]}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="list" ng-if="isToShowCouncillorsList()">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="title"><strong>LISTA DE VEREADORES</strong></p>
        <div ng-if="currentEvent === 'poll'">
          <ol class="text-left inline-block list-unstyled column-break-list">
            <li ng-repeat="member in currentSession.members track by $index" class="font-bold">
              <span class="{{voteClasses[voteKind = getCouncillorCurrentVote(member.councillor.id).kind]}}">
                <span ng-if="voteTypes[voteKind]">{{'[' + voteTypes[voteKind] + ']'}}</span>
                {{member.councillor.name.toUpperCase()}} - {{member.councillor.party.abbreviation}}
              </span>
            </li>
          </ol>
        </div>

        <div ng-if="currentEvent === 'queue' && currentQueue.kind !== 'attendance'">
          <ol class="text-left inline-block column-break-list">
            <li ng-repeat="councillor in currentQueue.councillors track by $index" class="font-bold">
              {{councillor.name.toUpperCase()}} - {{councillor.party.abbreviation}}
            </li>
          </ol>
        </div>

        <div ng-if="currentEvent === 'queue' && currentQueue.kind === 'attendance'">
          <ol class="text-left inline-block list-unstyled column-break-list">
            <li ng-repeat="member in currentSession.members track by $index" class="font-bold">
              <span class="text-{{currentQueue.councillors_ids.indexOf(member.councillor.id) >= 0 ? 'navy' : 'danger'}}">
                {{member.councillor.name.toUpperCase()}} - {{member.councillor.party.abbreviation}}
              </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="modal inmodal" id="fullscreen-request" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-body">
          <h3 class="text-center"><%= t('requests.activate_fullscreen') %></h3>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">
                <%= t('buttons.deny').mb_chars.upcase %>
              </button>
            </div>
            <div class="col-xs-6">
              <button id="fullscreen-button" type="button" class="btn btn-block btn-primary" data-dismiss="modal" request-fullscreen>
                <%= t('buttons.accept').mb_chars.upcase %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
