<% content_for :sub_header do %>
  <div class="col-sm-6">
    <h2><%= t('models_and_attributes.models.plenary_session.other') %></h2>
    <ol class="breadcrumb">
      <li><%= link_to t('page.modules.home'), [:admin, :root] %></li>
      <li><%= link_to t('page.modules.plenary_sessions'), [:admin, :plenary_sessions] %></li>
      <li class="active">
        <strong><%= t('actions.show') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to [:new, :admin, :plenary_session], class: 'btn btn-w-s btn-primary m-t-md' do %>
      <i class="fa fa-plus"></i><br/>
      <%= t('buttons.new') %>
    <% end if can?(:create, PlenarySession) %>

    <%= link_to [:edit, :admin, @plenary_session], class: 'btn btn-w-s btn-info m-t-md' do %>
      <i class="fa fa-edit"></i><br/>
      <%= t('buttons.edit') %>
    <% end if can?(:update, PlenarySession) %>

    <%= link_to [:admin, @plenary_session], class: 'btn btn-w-s btn-danger m-t-md',
          method: :delete, data: {confirm: t('confirm.delete_record')} do %>
      <i class="fa fa-trash"></i><br/>
      <%= t('buttons.destroy') %>
    <% end if can?(:destroy, PlenarySession) %>

    <%= link_to [:admin, :plenary_sessions], class: 'btn btn-w-s btn-white m-t-md m-l-sm' do %>
      <i class="fa fa-reply"></i><br/>
      <%= t('buttons.back') %>
    <% end %>
  </div>
<% end %>

<%= flash_messages %>
<div class="row responsive-padding">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          <%= t('view.keywords.informations') %>
        </h5>
      </div>

      <div class="ibox-content">
        <ul class="todo-list">

          <li class="show-action-label">
            <div class="col-sm-3"><%= t('activerecord.attributes.plenary_session.title') %>:</div>
            <div class="col-sm-9"><%= @plenary_session.title %></div>
          </li>
          <li class="show-action-label">
            <div class="col-sm-3"><%= t('activerecord.attributes.plenary_session.kind') %>:</div>
            <div class="col-sm-9"><%= t(@plenary_session.kind, scope: [:enums, :specific_items, :plenary_session, :kind]) %></div>
          </li>
          <li class="show-action-label">
            <div class="col-sm-3"><%= t('activerecord.attributes.plenary_session.start_at') %>:</div>
            <div class="col-sm-9"><%= l(@plenary_session.start_at, format: :long) %></div>
          </li>
          <li class="show-action-label">
            <div class="col-sm-3"><%= t('activerecord.attributes.plenary_session.end_at') %>:</div>
            <div class="col-sm-9"><%= l(@plenary_session.end_at, format: :long) %></div>
          </li>
          <li class="show-action-label">
            <div class="col-sm-3"><%= t('activerecord.attributes.plenary_session.is_test') %></div>
            <div class="col-sm-9"><%= t('enums.items.boolean')[@plenary_session.is_test] %></div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row responsive-padding">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('activerecord.attributes.plenary_session.members') %></h5>
      </div>

      <div class="ibox-content">
        <%= custom_flash_messages info: {show: @members.length.zero?, fixed: true, icon: :info, message: t('info.no_councillors')} %>

        <% if @members.length > 0 %>
          <table class="table table-striped table-hover">
            <tbody>
              <% @members.each_with_index do |member, index| %>
                <tr>
                  <td>
                    <%= index + 1 %>. <%= member.councillor.name %>
                    <%= content_tag :span, t('miscellaneous.session_member.president'), class: 'label label-primary' if member.is_president %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
