<% content_for :sub_header do %>
  <div class="col-sm-6">
    <h2><%= t('models_and_attributes.models.plenary_session.other') %></h2>
    <ol class="breadcrumb">
      <li><%= link_to t('page.modules.home'), [:admin, :root] %></li>
      <li><%= link_to t('page.modules.plenary_sessions'), [:admin, :plenary_sessions] %></li>
      <li class="active">
        <strong><%= t('actions.show') %></strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to [:admin, @plenary_session, :session_managements], class: 'btn btn-w-s btn-success m-t-md m-r-sm' do %>
      <i class="fa fa-cogs"></i><br/>
      <%= t('buttons.manage') %>
    <% end if can?(:manage_session, PlenarySession) %>

    <%= link_to [:new, :admin, :plenary_session], class: 'btn btn-w-s btn-primary m-t-md' do %>
      <i class="fa fa-plus"></i><br/>
      <%= t('buttons.new') %>
    <% end if can?(:create, PlenarySession) %>

    <%= link_to [:edit, :admin, @plenary_session], class: 'btn btn-w-s btn-info m-t-md' do %>
      <i class="fa fa-edit"></i><br/>
      <%= t('buttons.edit') %>
    <% end if can?(:update, PlenarySession) %>

    <%= link_to [:admin, @plenary_session], class: 'btn btn-w-s btn-danger m-t-md',
          method: :delete, data: {confirm: t('confirm.delete_record')} do %>
      <i class="fa fa-trash"></i><br/>
      <%= t('buttons.destroy') %>
    <% end if can?(:destroy, PlenarySession) %>

    <%= link_to [:admin, :plenary_sessions], class: 'btn btn-w-s btn-white m-t-md m-l-sm' do %>
      <i class="fa fa-reply"></i><br/>
      <%= t('buttons.back') %>
    <% end %>
  </div>
<% end %>

<%= flash_messages %>

<% if @members.blank? %>
  <%= custom_flash_messages warning: {show: true, icon: :warning, message: t('info.no_member')} %>
<% else %>
  <%= custom_flash_messages warning: {show: @members.select { |member| member.is_president }.blank?, icon: :warning, message: t('info.no_president')} %>
<% end %>

<%= custom_flash_messages warning: {show: @items.blank?, icon: :warning, message: t('info.no_session_items')} %>

<div class="row responsive-padding">
  <div class="col-xs-12">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#session"><%= t('activerecord.models.plenary_session.one') %></a></li>
        <li><a data-toggle="tab" href="#members"><%= t('activerecord.attributes.plenary_session.members') %></a></li>
        <li><a data-toggle="tab" href="#session-items-list"><%= t('miscellaneous.session_item.list') %></a></li>
      </ul>
      <div class="tab-content">
        <div id="session" class="tab-pane active">
          <div class="panel-body">
            <%= render partial: 'admin/plenary_sessions/details', locals: { plenary_session: @plenary_session } %>
          </div>
        </div>

        <div id="members" class="tab-pane">
          <div class="panel-body">
            <%= custom_flash_messages info: {show: @members.length.zero?, fixed: true, icon: :info, message: t('info.no_councillors')} %>

            <% if @members.length > 0 %>
              <div class="m-t-md">
                <small class="pull-right text-muted"><%= t('info.records_added_html', count: @members.length) %></small><br>
                <hr class="m-t-none">
              </div>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th><%= t('activerecord.attributes.councillor.name') %></th>
                      <th><%= t('activerecord.attributes.councillor.party_id') %></th>
                      <th><%= t('activerecord.attributes.session_member.is_president') %></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @members.each_with_index do |member, index| %>
                      <tr>
                        <td><%= index + 1 %>. <%= member.councillor.name %></td>
                        <td><%= member.councillor.party.abbreviation %></td>
                        <td>
                          <% if member.is_president %>
                            <i class="fa fa-check text-navy"></i>
                          <% else %>
                            <i class="fa fa-times text-muted"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>

        <div id="session-items-list" class="tab-pane">
          <div class="panel-body">
            <% unless @items.length.zero? %>
              <div class="row m-b-md hidden-print">
                <div class="col-xs-12 text-right">
                  <%= link_to '', class: 'btn btn-w-s btn-white',
                      'onclick' => "$(this).parents('.panel-body:first').print({title: 'VotWEB | #{@plenary_session.title} | ORDEM DO DIA'})" do %>
                    <i class="fa fa-print"></i><br/>
                    <%= t('buttons.print') %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <%= custom_flash_messages info: {show: @items.length.zero?, fixed: true, icon: :info, message: t('info.no_session_items')} %>

            <% if @items.length > 0 %>
              <div class="m-t-md">
                <small class="pull-right text-muted"><%= t('info.records_added_html', count: @items.length) %></small><br>
                <hr class="m-t-none">
              </div>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th><%= t('activerecord.attributes.session_item.title') %></th>
                      <th><%= t('activerecord.attributes.session_item.author') %></th>
                      <th><%= t('activerecord.attributes.session_item.acceptance') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @items.each_with_index do |item, index| %>
                      <tr>
                        <td><%= index + 1 %>. <%= item.title %></td>
                        <td><%= item.author.try(:name) || t('miscellaneous.session_item.no_author') %></td>
                        <td><%= t(item.acceptance, scope: [:enums, :specific_items, :session_item, :acceptance]) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
